.menuItem {
  list-style-type: none;  
  position: relative;
  cursor: pointer;  
  min-width: 20%;
  min-height: 20px;
  text-align: left;   
}
.menuItemLink {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;   
}
.active {  
  font-weight: 600;
}
@media screen and (min-width: 500px ) {
  .nemuItem {
    min-height: 22px;
  }
  .menuItemLink {
    font-size: 0.9rem;          
  }  
  a.menuItemLink:hover, span.menuItemLink:hover {    
    font-size: 1.1rem;
    font-weight: 500;   
  }  
}
@media screen and (min-width: 900px ) {
  .menuItem {
    min-width: 25%;   
    cursor: pointer;    
  }
  .menuItemLink {       
    font-size: 1rem; 
  }  
}