.facebook, .instagram { 
  padding-left: 10%; 
  color: white;
  min-width: 25px;
  min-height: 25px;    
}

@media  screen and (min-width: 900px) { 
  .facebook, .instagram { 
    padding-right: 5%; 
  }
}