.backgroundProjects {
  width: 100vw;
  height: 100vh;
  background: url('../../public/backgroundImages/singleProject.jpg') no-repeat;
  background-size: cover;
  background-position: center center;  
}
.pageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;   
  align-content: center;    
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1000;
}
.buttonContainer {
  display: flex;
  width: 100%;    
  justify-content: center;
  align-content: center;  
  box-sizing: border-box;
}
.backButton {
  width: 130px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: none;  
  height: 30px;
  cursor: pointer;
}
.projectCardContainer {    
  grid-template-columns: 100%;
  grid-template-rows: auto auto 5%;    
  justify-self: center; 
  margin-bottom: 3vh;  
}
.projectInfo > p {
  font-size: 0.8rem;
  color: white;
  padding-left: 10%;
} 
.imageAndArrowsContainer {           
  display: grid;
  grid-template-columns: 10% 80% 10%;
  place-content: center center;  
}  
.arrowContainer {        
  display: grid;  
  place-items: center center; 
}
.arrow {
  color: rgb(229, 203, 203);
  font-size: 70px;
  cursor: pointer;
}
.arrowHidden  {
  font-size: 70px;
  color: transparent;     
}    
.imageContainer {
  display: grid;  
  max-width: 1050px;  
  min-width: 100%;  
  place-content: center center;
}
.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;         
} 
.circlesContainer{
  display: flex;
  gap: 10px;
  justify-content: center; 
  align-content: center;    
}
.circle {
  width: 10px;        
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 1vh;      
}
.circleMargin:not(:last-child) {
  margin-right: 7px;
}
.activeCircle, .circle:hover {
  background-color: lightgray;
}

@media screen and (max-width: 1000px) {
  .image {    
    aspect-ratio: 16/10;          
  }     
}

@media screen and (max-width: 900px) {
  .pageContainer {           
    grid-template-columns: 95%;
  }
  .arrow {
    font-size: 60px;
  }
  .arrowHidden  {
    font-size: 60px;
  }  
  .image {    
    aspect-ratio: 3/2;          
  }     
}

@media screen and (max-width: 650px) {  
  .arrow {
    font-size: 45px;
  } 
  .arrowHidden  {
    font-size: 45px;
  }        
}

@media screen and (max-width: 499px) {
  .buttonContainer {
    margin-top: 0;
    margin-bottom: 10vh;
  }
  .projectInfo > p {      
    padding-left: 0;
  } 
  .imageAndArrowsContainer {
    grid-template-columns: 100%;         
  }  
  .arrowContainer {        
    display: none;        
  }
  .image {     
    max-width: none;               
  }
  .circle {
    margin-top: 1vh;
    width: 13px;        
    height: 13px;       
  }
  .circleMargin:not(:last-child) {
    margin-right: 12px;
  }    
}

@media screen and (min-width: 500px) and (max-width: 949px) and (max-height: 499px) {
  .buttonContainer {
    margin-top: 10vh;
  }
  .backButton {
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: none;  
    height: 30px;
    cursor: pointer;
  }
  .projectCardContainer {
    margin-top: 4vh;
    grid-template-rows: auto 5%; 
  }
  .projectInfo {
    display: none;
  } 
  .imageAndArrowsContainer {           
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-content: center center;  
  }    
  .arrow {
    font-size: 60px;
  }
  .arrowHidden  {
    font-size: 60px;
  } 
  .imageAndArrowsContainer {
    column-gap: 2vw;         
  }  
  .image {      
    height: 75vh; 
    width: auto;
    max-width: none;                   
  } 
  .circle {      
    margin-top: 2vh;
    width: 13px;
    height: 13px;       
  }
  .circleMargin:not(:last-child) {
    margin-right: 12px;
  } 
}